* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #060b0f;
  font-family: 'Inter', sans-serif;
  color: #fff;
  height: 3000px;
}

header {
  width: 100%;
}

.hero {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 600px;
}

.sticky-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 10px 140px;
}

.logo {
  margin-right: 40px;
}

.sticky-nav .logo,
ul,
li {
  display: inline-block;
}

.sticky-nav li {
  padding: 10px 20px;
  line-height: 60px;
  font-size: 1.2rem;
}

.sticky-nav li a {
  text-decoration: none;
  color: wheat;
}

.login-button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.login-button {
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 7px;
}

.hero-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  padding: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 0 140px;
}


#introduction {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  gap: 70px;
  align-items: center;
  padding-top: 110px;
}


#introduction .intro-image>img {
  width: 500px;
  height: 300px;
  border: 1px solid #fff;
}

#introduction .intro-text>h1 {
  font-size: 2.5rem;
  line-height: 2em;
}

#products {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.product-item {
  position: relative;
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: flex-end;
}

#products .product-image>img {
  width: 700px;
  height: 700px;
  transform: scaleX(-1);
}

#products .product-link {
  padding-right: 50px;
}

#products .product-link>a {
  line-height: 2.5em;
}

#products .product-name {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
}

#contact-us {
  text-align: center;
  padding-bottom: 100px;
}

#contact-us input {
  width: 350px;
  height: 2rem;
}

#contact-us button {
  width: 100px;
  height: 2rem;
}

footer {
  background-color: #0a151f;
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 370px) {

  #introduction {
    margin: 0;
    flex-direction: column;
  }

  #introduction .intro-image>img {
    width: 150px;
  }

  .product-item {
    flex-direction: column;
  }
}
